{{ if eq .chezmoi.os "darwin" }}
# Add brew completions
if type brew &>/dev/null; then
	FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi

# Alias coreutils to the GNU versions
chain-alias ls gls
{{ end }}