{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
set -eo pipefail

defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "~/.config/iterm2"
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
{{ end -}}